numpy
pandas
scipy
matplotlib
sympy
gymnasium[atari,accept-rom-license]
ale-py
stable-baselines3
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cu126
scikit-learn
shap
opencv-python
ipython
tensorboard